
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Processdata</title>
</head>
<body>
    <div> 
    </div>
    <form action="Calculations" method="post">
        <input name="No1" />
        <input name="No2" />
        <input type="Submit" />
        
    </form>
</body>
</html>
