@model EmailSystem2.Models.Player

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 

        Player Name:@Model.name <br />
        Player Number: @Model.playingNo<br />
        Email: @Model.Email <br />

    </div>



    <form action="/" method="post"
          
          
          
          
          ></form>    
</body>
</html>
