
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs1</title>
</head>
<body>
    <div> 
        THESE BLOOD SHOES!!!!!!

    </div>
</body>
</html>
